@import 'settings';
@import 'helpers/hidden-text';

.sui-Modal {
  background-color: $bg-modal;
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  white-space: nowrap;
  z-index: 100;

  &--open {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &--verticallyCentered {
    &:before {
      content: '\200B';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }

  &-dialog {
    background-color: $bg-modal-dialog;
    border: $b-modal;
    box-shadow: $bxsh-modal;
    display: inline-block;
    margin: $m-modal;
    text-align: left;
    vertical-align: middle;
    white-space: normal;
    @media screen and (min-width: $screen-mobile-modal) {
      max-width: $maw-modal;
    }
  }

  &-header {
    background-color: $bg-modal-header;
    color: $c-modal-header;
    min-height: $h-modal-close;
    padding: $p-modal-header ($p-modal-header + $p-modal) $p-modal-header $p-modal;
    position: relative;
  }

  &-close {
    background-color: transparent;
    background-image: $bgi-modal-close;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0;
    cursor: pointer;
    height: $h-modal-close;
    padding: 0;
    position: absolute;
    right: $r-modal-close;
    top: $t-modal-close;
    width: $w-modal-close;
  }

  &-content {
    border-bottom: $b-modal-content;
    border-top: $b-modal-content;
    padding: $p-modal-content $p-modal;
  }

  &-footer {
    padding: $p-modal-footer $p-modal;
  }
}
